.idea/
.DS_Store
dist/
build/*
!build/icons
coverage
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
.vscode/settings.json
jsconfig.json
tsconfig.json
!test/unit
/unit/
/build-unit/
.history/
**/node_modules
**/dist
**/.history